
# npm
package-lock.json
node_modules

# yarn
yarn.lock

# vscode
.vscode

# vuepress
docs/.vuepress/dist

# 百度链接推送
urls.txt

# mac
.DS_Store

.Archive/
.markeditor/
!.metion/
.metion/*
!.metion/*_sort.config
.markdown/
.sync/
.idea/
.DS_STORE
Thumbs.db*
/.posts_info.json
/posts_info.json
/.git_settings.json
/git_settings.json
/.ios_file_manager_status*.json
/.farbox_token.*
/.farbox_auto_sync.*
/__wechat.json
/*.sqlite3
.db/